li {
    list-style-type: none;
}

button {
    text-align: center;
    /*vertical-align: middle;*/
}

.audio_player{
    margin: 50px auto;
    max-width: 500px;
    border: 1px solid black;
}
.audio_panel {
    border-bottom: 1px solid black;
    padding: 10px;
}

.progress {
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height:5px;
    transition:height 0.3s;
    background:rgba(0,0,0,0.5);
    cursor:ew-resize;
    margin-bottom: 10px;
}

.progress__filled {
    width:0%;
    background:#ffc600;
    flex:0;
    flex-basis:0%;
}

.controls {
    text-align: center;
    padding-bottom: 10px;
}

audio {
    display: none;
}

.color {
    background-color: #57B742;
}