li {
    list-style-type: none;
}

button {
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    outline: none;
}

.audio_player{
    margin: 50px auto;
    max-width: 500px;
    border: 3px solid #3160B7;
}
.audio_panel {
    border-bottom: 1px solid black;
    padding: 10px;
}

.progress {
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height:5px;
    transition:height 0.3s;
    background:#3E9CDE;
    cursor:ew-resize;
    margin-bottom: 10px;
}

.progress__filled {
    width:0%;
    background:#ffc600;
    flex:0;
    flex-basis:0%;
}

.controls {
    text-align: center;
    padding-bottom: 10px;
}

audio {
    display: none;
}

.type {
    background-color: #A7FB7E;
    border: none;
    padding: 5px 5px;
    color: #1A1753;
    line-height: 12px;
    width: 24px;
}

.player__button.type {
    padding: 6px 8px;
}

.color {
    background-color: #A7FB7E;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #1A1753;
    font-weight: bold;
}

input {
    display: none;
}

button:hover {
    background-color: #3E9CDE;
    color: #fff;
}